<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Tugas Lab 2</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Untuk</th>
        <th>Dari</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
        {% if notes %} 
		      {% for i in notes %}
            <td>{{i.untuk}}</td>
            <td>{{i.dari}}</td>
            <td>{{i.title}}</td>
            <td>{{i.message}}</td>
		    </tr>
		      {% endfor %}
	      {% endif %}
    </table>
  </body>
</html>
